<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/main.js" defer></script>
    <title>Homepage</title>
</head>

<body>
    <div class="head">
        <div class="FAQ">
            <a href="#">FAQ |</a>
            <a href="#"> Help Desk |</a>
            <a href="#">Support</a>
        </div>
        <div class="social-network">
            <a href="#"><i class="bi-facebook"></i></a>
            <a href="#"><i class="bi-twitter"></i></a>
            <a href="#"><i class="bi-linkedin"></i></a>
            <a href="#"><i class="bi-instagram"></i></a>
        </div>
    </div>
    <div class="nav-bar">
        <!-- <img src="#"> -->
        <iframe style="height: 40px;
        width: 50%"></iframe>
        <div class="nav-button">
            <div class="dropdown" data-dropdown>
                <button class="drop-btn" data-dropdown-btn>HOME</button>
                <div class="drop-content">
                    <div class="dropdown-content-grid">
                        <div>
                            <div id="drop-heading">Header</div>
                            <div id="drop-links">
                                <a href="#">Item1</a>
                                <a href="#">Item1</a>
                            </div>
                        </div>
                        <div>
                            <div id="drop-heading">Header</div>
                            <div id="drop-links">
                                <a href="#">Item1</a>
                                <a href="#">Item1</a>
                            </div>
                        </div>
                        <div>
                            <div id="drop-heading">Header</div>
                            <div id="drop-links">
                                <a href="#">Item1</a>
                                <a href="#">Item1</a>
                            </div>
                        </div>
                        <div>
                            <div id="drop-heading">Header</div>
                            <div id="drop-links">
                                <a href="#">Item1</a>
                                <a href="#">Item1</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="drop-btn" data-dropdown-btn>ABOUT</button>
                <div class="drop-content">
                    <a href="#">list</a>
                    <a href="#">null</a>
                    <a href="#">null</a>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="drop-btn" data-dropdown-btn>TEAM</button>
                <div class="drop-content">
                    <a href="#">list</a>
                    <a href="#">null</a>
                    <a href="#">null</a>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="drop-btn" data-dropdown-btn>PAGES</button>
                <div class="drop-content">
                    <a href="#">list</a>
                    <a href="#">null</a>
                    <a href="#">null</a>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="drop-btn" data-dropdown-btn>SHOP</button>
                <div class="drop-content">
                    <a href="#">list</a>
                    <a href="#">null</a>
                    <a href="#">null</a>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="drop-btn" data-dropdown-btn>BLOG</button>
                <div class="drop-content">
                    <a href="#">list</a>
                    <a href="#">null</a>
                    <a href="#">null</a>
                </div>
            </div>
            <div class="dropdown" data-dropdown>
                <button class="drop-btn" data-dropdown-btn>CONTACT</button>
                <div class="drop-content">
                    <a href="#">list</a>
                    <a href="#">null</a>
                    <a href="#">null</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="sign-in">
        <button id="changeBackgroundLeft" style="background-color:rgba(211, 211, 211, 0.262);
        border:none;
        cursor:pointer;"><</button>
        <div class="container">

            <h1>ADOPT <span style="color:green">A PET</span></h1>
            <p>We always try to provide you the best pet for your adaption
            </p>
            <div class="sign-btn">
                <button>Signup now</button>
                <button style="background-color: green;
                color: white;">View Details</button>
            </div>
        </div>
        <div style="width: 30%;"></div>
        <button id="changeBackgroundRight" style="float:right;
        background-color:rgba(211, 211, 211, 0.262);
        border:none;
        cursor:pointer;">></button>
    </div>
    <div class="down" style="display:flex;
    width:100%;
    justify-content:space-around;
    background-color:green;
    align-items:center;
    height:100px">
        <b style="color:white;">Best Pet Care & Pet Service HTML Template Ever</b>
        <button style="border:none;
        background-color:white;
        border-radius:20px;
        padding:10px;
        cursor:pointer;
        box-shadow:1px 1px 5px 1px  rgba(0,0,0)">Purchase now</button>
    </div>
    <div class="mid1">
        <div class="welcome">
            <h2>WELCOME TO <span style="color:green">PET CARE</span></h2>
            <br>
            <p>Lorem ispum dolor sit amet consectetur aipiscing elit. Nulla, hic ? A rem harum nesciunt non nobis quo debitis,explicabo adipisci tempora! Volutatibus, culpa impedit ? Assumenda iure minima nesciunt alias!</p>
            <div class="animals">
                <div>
                    <img class="ani" src="../img/dog1.jpg">
                    <b>PET <span style="color: green;">DOGS</span></b>
                </div>
                <div>
                    <img class="ani" src="../img/rabit.jpg">
                    <b>PET <span style="color: green;">RABITS</span></b>
                </div>
                <div>
                    <img class="ani" src="../img/fish.jpg">
                    <b>PET <span style="color: green;">FISH</span></b>
                </div>
            </div>
        </div>
        <img class="doggy" src="../img/dog2.png" alt="dog">
    </div>
    <div class="contact_box">
        <div class="ct_description">
            <h3>For Emergency Case, Please Contact Us</h3>
            <br>
            <p>Aliquam interdum urna eu ipsum fermentum facilisis nec nec turpis. Vivamus sit amet dolor quis erat fermentum iaculis vitae sit amet nulla. Donec imperdiet sodales egestas. Vestibulum tempor lectus nec purus cursus efficitur. Etiam sit amet
                lacus id nibh pharetra porttitor.</div>
        <div class="ct_btn">
            <button>Contact With Us</button>
        </div>
    </div>
    <br>
    <div class="footer">
        <div class="upper">
            <div class="footer-left">
                <div class="left-first-half">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus, turpis ut dictum dictum, lorem magna mattis sem, et posuere nibh leo non neque.</p>
                    <br>
                    <p>80/52 Xuân Phương, Phường Phương Canh, Nam Từ Liêm, Hà Nội</p>
                    <i class="bi bi-telephone-fill"> <span>123-4675-12</span></i>
                    <i class="bi bi-person-vcard-fill"><span> kieuviet34@gmail.com</span> </i>
                    <i class="bi bi-globe"> <span>www.mydomain.com</span></i>
                </div>
                <div class="left-remain">
                    <b>Userful Links</b>
                    <ul>
                        <li><a href="#">Body Building</a></li>
                        <li><a href="#">Fitness Course</a></li>
                        <li><a href="#">Weight Lifting</a></li>
                        <li><a href="#">Yoga Course</a></li>
                        <li><a href="#">Training</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <div class="right-half">
                    <b>Twitter Feed</b>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-twitter"></i>
                </div>
                <div class="right-remain">
                    <b>Latest News</b>
                    <div>
                        <iframe>
                        </iframe>
                        <div class="r-ct">
                            <b>Substainable Construction</b>
                            <p>Oct 08, 2023</p>
                        </div>
                    </div>
                    <div>
                        <iframe></iframe>
                        <div class="r-ct">
                            <b>Industrial Coatings</b>
                            <p>Oct 08, 2023</p>
                        </div>
                    </div>
                    <div>
                        <iframe></iframe>
                        <div class="r-ct">
                            <b>Storefront Installation</b>
                            <p>Oct 08, 2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="lower">
            <div class="input-box">
                <b>Subscribe Us</b>
                <div class="input-box-inner">
                    <input type="text" alt="tb" placeholder="Your email">
                    <button>Subscribe</button>
                </div>
            </div>
            <div class="mid-lower">
                <b>Call Us Now</b>
                <br>
                <p> +084 123 456 78</p>
                <p> +084 567 120 92</p>
            </div>
            <div class="lower-right">
                <b>Contact With Us</b>
                <div>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-snapchat"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>